# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/palay/palay

# Qt created files
palay.pro.user
Makefile
moc_*.cpp
qrc_*.cpp

# Unit test files
actual*.pdf
